{% extends 'base.html' %}
{% block content %}

<h1>Group Details</h1>

<div class="card">

    <div class="card-action">
        <h3 class="group-name">{{ group.name }}</h3>
        <a href="{% url 'groups_update' group.id %}">Edit Group</a>
        <a href="{% url 'groups_delete' group.id %}">Delete Group</a>
    </div>
</div>

<div class="col s6">
    <table class="striped">
        <form action="{% url 'add_idea' group.id %}" method="POST">
            {% csrf_token %}
            {{ idea_form.as_p }}
            <input type="submit" class="btn" value="Add Idea">
        </form>
        
        <thead>
            <h4>Our Hangout Ideas!</h3>
            <tr>
                <th>Name</th>
                <th>Environment</th>
                <th>Estimated Cost</th>
            </tr>
        </thead>

        <tbody>
            {% for idea in group.idea_set.all %}
            <tr>
                <td>{{idea.name}}</td>
                <td>{{idea.environment}}</td>
                <td>{{idea.estimated_cost}}</td>
                <td><a href="{% url 'ideas_delete' group.id idea.id %}">Delete Idea</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}