{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>What's The Plan?!</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <script type = "text/javascript"  
        src = "https://code.jquery.com/jquery-2.1.1.min.js"></script>    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    
</head>
<body class="teal lighten-4">
    <nav class="teal darken-w">
        <div class=" nav-wrapper teal darken-w">
            <a href="#" data-target="mobile-demo" class="sidenav-trigger right"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                {% if user.is_authenticated %}
                <li>
                    <a href="{% url 'index' %}">View All Groups</a>
                </li>
                <li><a href="{% url 'groups_create' %}">Add your Group</a></li>
                <li><a href="{% url 'logout' %}">Log Out</a></li>
                {% else %}
                    <li><a href="{% url 'signup' %}">Sign Up</a></li>
                    <li><a href="{% url 'login' %}">Log In</a></li>
                {% endif %}
            </ul>
            <ul class="sidenav" id="mobile-demo">
                {% if user.is_authenticated %}
                <li>
                    <a href="{% url 'index' %}">View All Groups</a>
                </li>
                <li><a href="{% url 'groups_create' %}">Add your Group</a></li>
                <li><a href="{% url 'logout' %}">Log Out</a></li>
                {% else %}
                    <li><a href="{% url 'signup' %}">Sign Up</a></li>
                    <li><a href="{% url 'login' %}">Log In</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer>
        <div class="right-align">© Katherine Sprague 2023</div>
    </footer>

    <script>
        $(document).ready(function(){
    $('.sidenav').sidenav();
    });
    </script>
</body>
</html>