{% extends 'base.html' %}
{% block content %}


<div class="home-page center">
    <h1>What Is The Plan?!</h1>
    <p class="flow-text">An app created to help you and your crew choose a hangout idea at random and without bias.</p>
    <p class="flow-text">Ready to make plans with your crew?</p>
    <p class="flow-text"><span><a href="{% url 'login' %}" class="teal-text text-darken-2">Log
                In</a></span> or <span><a href="{% url 'signup' %}" class="teal-text text-darken-2">Sign
                Up</a></span> Now!! </p>
</div>

{% endblock %}