body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: rgb(203, 227, 227);
    color: rgb(107, 106, 106);

}

nav {
    padding: 0 30px;
    
}

main {
    flex: 1 0 auto;
    padding: 0 30px !important;
}

footer.page-footer {
    padding-top: 0;
    text-align: right;
}

.group-name {
    color: darkcyan !important;
}